@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{

	--primary : #faf3e8;
	--second : #2C9BB3;
	--black : #090909;
	--white : #FFFFFF;
}


*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


body{
	overflow-x: hidden;
	background-color: var(--primary);
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	scroll-behavior: smooth;
}




.navbar{
	padding:20px;
	display:flex;
	align-items : center;
	justify-content: space-between;
	width:100%;
}

#brand{
	width:250px;

}

#start{
	text-decoration: none;
	padding:10px 15px;
	color:var(--second);
	font-size: 1.2em;
	border: 2px solid var(--second);
	border-radius:30px;
	filter: brightness(.5);
	transition: filter .5s linear;

}

#start:hover{
	filter: brightness(1.2);
}

.row{
	display:flex;
	align-items: center;
	flex-wrap: wrap;
	width:100%;
}

.intro{
	padding-top: 10vh;
}

#intro-container{
	height:100vh;
}

.text-container{
	width:50%;
	min-width:620px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.brand-title{
	font-size:3em;
	text-align:left;
	font-weight: 700;
	line-height: 1.5em;
	

}

.description{
	margin:20px;
	font-size:1.2em;
	text-align: center;
	font-weight:400;
	line-height:2em;
}

.art{
	display: flex;
	align-items: center;
	justify-content: center;
	width:50%;
}

.art img{
	width:90%;
	min-width: 560px;
	max-width: 800px;
}

.center{
	text-align:center;
}
.center-elem{
	display:flex;
	width:100%;
	justify-content: center;
	align-items: center;
	padding:10vh;
	
}

.center-elem i{
	font-size:2em;
	color:var(--second);
	filter: brightness(.5);
	transition: filter .5s linear;
	cursor: pointer;
	animation: float 6s ease-in-out infinite;
	
}

.center-elem i:hover{
	filter : brightness(1.2);
}

.section-title{
	text-align:center;
	font-size: 3em;
	letter-spacing: .2em;
	font-family: 'Besley', serif;
	color: var(--second);
	/* text-shadow: 0px 5px 20px var(--second); */
}

.mission-row{
	display: flex;
	justify-content: center;
	
	flex-wrap: wrap;
	align-items: center;
	margin:20px 0px;
	padding:10px 15px;
}

.mission-article{
	display:flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
	
	margin:20px;
	padding:20px;
	box-shadow:  5px 5px 10px #9b9790,
             -5px -5px 10px #ffffff;
	width: 300px;
	max-width:100%;

}
.article-container{
	display: flex;
}

.mission-article:nth-child(even){
	border-radius: 40px 0px 40px 0px;
}

.mission-article:nth-child(odd){
	border-radius: 0px 40px 0px 40px;
}

.reverse{
	flex-direction: row-reverse;
}

.mission-article i{
	font-size:4em;
	color:var(--second);
	text-shadow: 0px 5px 10px var(--second);
	margin:30px 0px;
}

.mission-article p{
	font-size:1.4em;
	font-weight: 600;
	font-style: italic;
	letter-spacing: 2px;
	text-align: center;
	
}

.pack-row{
	display:flex;
	justify-content: space-around;
	flex-wrap:wrap;
	align-items: stretch;
	margin:50px 0px;
	padding:10px 15px;
}
.pack-article{
	position: static;
	z-index:10;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	border-radius:10px;
	width:400px;
	margin:40px;
	background-color:var(--primary);
	overflow:none;
	

}

.pack-article:not(.glow){
	padding:20px;
	box-shadow:  5px 5px 10px #a39e97,
             -5px -5px 10px #ffffff;
}





.pack-container{
	border-radius:10px;
	position: relative;
	padding:20px;
  width: 100%;
  height: 100%;
	background-color: var(--primary);
	z-index: 2;
	box-shadow:  5px 5px 10px #a39e97,
             -5px -5px 10px #ffffff;
}

.glow:before{
	position: absolute;
  content: '';
  background: var(--second);
  z-index: -10;
  height: 28px;
  width: 28px;
  /* Added lines */
  top:2rem;
  right:-0.5rem;
  transform : rotate(45deg);
}
.glow::after{
	position: absolute;
	content: 'Recommandé';
	text-transform: capitalize;
	top: 11px;
	right: -14px;
	padding: 0.5rem;
	width: 6rem;
	border-radius:8px 0px 0px 8px;
	background: var(--second);
	color: white;
	text-align: center;
	z-index:3;
	font-family: 'Roboto', sans-serif;
	box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
  } 

.pack-title{
	text-align:center;
	font-size: 1.8em;
	letter-spacing: .1em;
	
	color: var(--second);
	font-family: 'Besley', serif;
	/* text-shadow: 0px 5px 20px var(--second); */

}

.pack-list{
	list-style:disc;
	display: flex;
	flex-direction: column;
	padding:30px 10px;
}

.pack-elem{
	font-size:1.2em;
	font-weight: 500;
	margin:10px 0px;
}

.pricing{
	text-decoration: none;
	padding:10px 15px;
	color:var(--second);
	font-size: 1.3em;
	font-weight:600;
	border: 2px solid var(--second);
	border-radius:15px 0px 15px 0px;
	filter: brightness(.5);
	transition: filter .5s linear;
	width:200px;
	text-align: center;
}
.pricing sup{
	font-size:.6em;
}

.pricing:hover{
	filter: brightness(1.2);
}

.glow{
	transform:   scale(1.2);
}

.center-row{
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
}

#wave{
	margin:-10px;
	
}
.foot{
	width:100%;
	padding:50px;
	display:flex;
	justify-content: center;
	align-items:center;
	background-color:var(--black);
}

.foot p{
	color:var(--white);
	font-size:1.3em;
	text-align:center;
}

.foot-link{
	color:var(--second);
	filter: brightness(.5);
	transition: filter .5s linear;
	text-decoration: none;
}

.foot-link:hover{
	filter: brightness(1.2);

}






@keyframes float {
	0% {
		filter: drop-shadow(0 5px 15px rgba(0,0,0,0.6));
		transform: translatey(0px);
	}
	50% {
		filter: drop-shadow(0 25px 15px  rgba(0,0,0,0.2));
		transform: translatey(-20px);
	}
	100% {
		filter: drop-shadow(0 5px 15px rgba(0,0,0,0.6));
		transform: translatey(0px);
	}
}



@media (max-width: 576px) { 
	.pack-article:nth-child(2){
		order:1;
		transform: scale(1);
	}

	.pack-article:nth-child(1){
		order:2;
	}
	.pack-article:nth-child(3){
		order:2;
	}
	.header{
		width:100%;
		height:100vh;
	}
	#start{
		display:none;
	}

	.navbar{
		justify-content: center;
		width:100%;
	}

	.row{
		width:100%;
		flex-direction: column;
		justify-content: center;
	}
	.text-container{
		min-width: 100%;
	}

	.description{
		font-size:.8em;
	}

	.intro{
		padding-top: 1vh;
	}
	

	.brand-title{
		font-size:1.5em;
		text-align: center;
	}


	.art{
		min-width: 100%;

	}

	.art img{
		min-width: 100%;
		height:30vh;
	}

 }


 @media (max-width: 1330px) and (min-width: 577px){
	.pack-article:nth-child(2){
		order:1;
		transform: scale(1);
	}

	.pack-article:nth-child(1){
		order:2;
	}
	.pack-article:nth-child(3){
		order:2;
	}

	.header{
		width:100%;
		height:100vh;
	}
	

	.row{
		width:100%;
		flex-direction: column;
		justify-content: center;
	}
	.text-container{
		min-width: 100%;
	}

	.description{
		font-size:1.1em;
	}

	.intro{
		padding-top: 5vh;
	}
	

	.brand-title{
		font-size:3em;
		text-align: center;
	}


	.art{
		min-width: 100%;

	}

	.art img{
		min-width: 100%;
		height:35vh;
	}
 }


 @media (max-width:1500px) and ( min-width:1330px){
	.pack-article:nth-child(2){
		order:1;
		transform: scale(1);
	}

	.pack-article:nth-child(1){
		order:2;
	}
	.pack-article:nth-child(3){
		order:2;
	}
 }